

@import "tailwindcss";
#root{
  height:100%;
  width:100%;
  font-family:Input;
  color:white;
  overflow-x:hidden;
}
#scale{
  width: 100vw;
  height: 100vh;
  transform: scale(0.8);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;

  /* Compensate for scale to make it fill screen */
  width: calc(100vw / 0.8);
  height: calc(100vh / 0.8);
}
@theme{
  --color-irl-blue: #67b0bb;
  --color-irl-red: #e0a96e;
  --color-irl-yellow: #f2e4bb;
  --color-irl-black: #002748;
  --font-input: "Input";
  --font-input-bold: "InputBold";

}
@font-face {
  font-family: Input;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/fonnts.com-InputSansCompressed_ExLight.otf") format("opentype");
}
@font-face {
  font-family: InputBold;
  font-style: bold;
  font-weight: 200 700;
  font-display: swap;
  src: url("./assets/fonts/fonnts.com-InputSansCompressed_Medium.otf") format("opentype");
}
body{
  color:white;
  font-family:Input;
}
h1{
  font-family:InputBold;
}
p{
  font-size:1.25rem
}
b{
  font-family: InputBold;
}
.b{
  border:2px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.397);
}
button{
  font-size:1.25rem;
  text-align: center;
  color:black;
  margin:1rem;
  padding:1rem;
  height:150px;
  font-family:InputBold;
  transition:0.3s ease;
}
button:hover{
  border:2px solid white;
  color:white
}

.irlgrid{
  background-size: var(--w) var(--w);
  background-image:
    linear-gradient(to right, var(--c) 3px, transparent 3px),
    linear-gradient(to bottom, var(--c) 3px, transparent 3px);
}
.d{
  background-color:blue;
  border: 8px solid yellow;
}
.d2{
  background-color: purple;
  border: 8px solid red;
}